body {
      padding-top: 40px;
      padding-bottom: 40px;
      color: #000;
      background-color: #224FB0;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: relative;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      -webkit-transition:background 0.5s ease-in;
      -moz-transition:background 0.5s ease-in;
      -o-transition:background 0.5s ease-in;
      -ms-transition:background 0.5s ease-in;
      transition:background 0.5s ease-in;
}


fieldset {
  border: none;
  margin: 0;
}

h2 
{
  text-shadow: 1px 2px #000;
  color: #fff;
}

h3 { margin: 0; }
/*
#login-form{
   max-width: 35%;
}*/

#general-form h3 {
  background-color: #282830;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 16px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

#general-form fieldset {
  background: #fff;
  border-radius: 0 0 5px 5px;
  padding: 20px;
  position: relative;
  color: #000;
}

#general-form fieldset:before {
  background-color: #fff;
  content: "";
  height: 8px;
  left: 50%;
  margin: -4px 0 0 -4px;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 8px;
}

.header-index{
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  max-width: 60%;
  text-align: center;
}

.info {
  background: #e5e5e5;
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  margin: 0 10px 0 0;
  text-align: center;
  width: 20px;
  color: #344B9F;
}

img{
  height: 150px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
  text-align: center;  
  text-shadow: 1px 1px #000;
  color: #fff;
}

.centrado-element
{
  margin: 0 auto;
  float: none;
  text-align: center;
}
